=provide(:title, "About")
%h1 About
%p
  The
  = link_to 'http://www.railstutorial.org/' do
    %em Ruby on Rails Tutorial
  is a
  = link_to 'http://www.railstutorial.org/book' do
    book
  and
  = link_to 'http://screencasts.railstutorial.org/' do
    screencast series
  to teach web development with
  = link_to 'http://rubyonrails.org/' do
    Ruby on Rails
  This is the sample application for the tutorial.
